<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss1.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.4.js"></script>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/topersonalinformation}">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>施工验收管理</h5>
            <div th:replace="~{process::table1}" ></div>
            <div class="construction-checks">
                <h5>未审核施工环节列表</h5>
                <table class="table-striped" id="table-striped" style="display: none">
                    <thead>
                    <tr>
                        <th>流程ID</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>装修内容</th>
                        <th>施工人员</th>
                        <th>完工时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>地基</td>
                        <td>挖土、加固、回填等工作</td>
                        <td>-</td>
                        <td>10人</td>
                        <td>2023-05-07</td>
                        <td>
                            <button class="approve-button">通过</button>
                            <button class="reject-button">拒绝</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>结构施工</td>
                        <td>钢筋焊接、混凝土浇注等工作</td>
                        <td>-</td>
                        <td>20人</td>
                        <td>2023-05-09</td>
                        <td>
                            <button class="approve-button">通过</button>
                            <button class="reject-button">拒绝</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="construction-checks">
                <h5>已审核施工环节列表</h5>
                <table class="table-striped" style="display: none">
                    <thead>
                    <tr>
                        <th>流程ID</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>装修内容</th>
                        <th>施工人员</th>
                        <th>审核状态</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>3</td>
                        <td>开业前整理</td>
                        <td>清洁、布置、检查等工作</td>
                        <td>-</td>
                        <td>5人</td>
                        <td>2023-05-12</td>
                        <td><span class="approved">已通过</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:replace="~{process::js}" ></div>
        <script>
            $('.Table').on('click', '.selectbypid', function() {
                var tr = $(this).closest('tr');
                var id = tr.data('id');
                var projectid=id;
                console.log(id);
                var flow = [];
                $.ajax({
                    type: 'post',
                    url: '/flow/getflowall',
                    data: {
                        id:id,
                        token: token
                    },
                    success: function(res) {
                        $('#Table').hide();
                        $('#table-striped').show();
                        $('#tile1').show();
                        $('#button1').show();
                        // 处理成功请求后的逻辑
                        flow = [];
                        if (res && res.length > 0) {
                            var str = '';
                            for (var i = 0; i < res.length; i++) {
                                flow.push(res[i]);
                                console.log(res[i])
                                str += '<tr data-id="' + res[i].flowid + '">' +
                                    '<td>' + res[i].flowid+ '</td>' +
                                    '<td>' + res[i].flowname + '</td>' +
                                    '<td>' + res[i].describe + '</td>' +
                                    '<td>' + res[i].cstrinfo + '</td>' +
                                    '<td>' + res[i].builders + '</td>' +
                                    '<td>' + res[i].projectcast + '</td>' +
                                    '<td class="btn-group">' +
                                    '<a href="#" class="btn update1">通过</a>' +
                                    '<a href="#" class="btn update2">拒绝</a>' +
                                    '</td>' +
                                    '</tr>';
                            }
                            $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的员工信息
                        } else {
                            $('.table-striped tbody').html('暂无数据'); // 若未获取到任何员工信息，则在表格中显示暂无数据的提示
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败后的逻辑
                        console.error(errorThrown);
                    }
                });
                $(document).ready(function() {
                    $("#add-form").submit(function(event) {
                        // 阻止表单默认提交行为
                        event.preventDefault();

                        // 将施工项目ID设置为隐藏输入框的值
                        $("#projectid").val(projectid);

                        // 提交表单
                        this.submit();
                    });
                });

            });
        </script>
    </div>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>