<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss3.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/topersonalinformation}">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>合同管理</h5>

            <h5>上传合同</h5>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput"/>
                <button type="submit">上传文件</button>
            </form>
            <div id="result"></div>

            <script>
                var token = new URLSearchParams(window.location.search).get("token");
                const uploadForm = document.querySelector('#uploadForm');
                const fileInput = document.querySelector('#fileInput');
                const resultDiv = document.querySelector('#result');

                uploadForm.addEventListener('submit', event => {
                    event.preventDefault();

                    const formData = new FormData(uploadForm);
                    const xhr = new XMLHttpRequest();

                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                // 成功上传文件，处理响应结果
                                const responseText = xhr.responseText;
                                resultDiv.textContent = responseText;
                            } else {
                                // 上传文件失败，处理错误信息
                                const error = `上传文件失败(${xhr.status}): ${xhr.statusText}`;
                                resultDiv.textContent = error;
                            }
                        }
                    };

                    xhr.open('POST', '/contract/upload?token=' + token);
                    xhr.send(formData);
                });
            </script>

            <h5>合同列表</h5>
            <table class="table-striped">
                <thead>
                <tr>
                    <th>合同id</th>
                    <th>合同名称</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="contract-list">
                <!-- 这里将会自动插入数据行 -->
                </tbody>
            </table>

            <!-- jQuery和合同管理脚本 -->
            <script src="/js/jquery-3.6.4.js"></script>
            <script>
                var token = new URLSearchParams(window.location.search).get("token");
                // 加载合同列表并更新页面
                $.ajax({
                    type: 'post',
                    url: '/contract/selectall?token=' + token,
                    data: {},
                    success: function(res) {
                        // 处理成功请求后的逻辑
                        if (res && res.length > 0) {
                            var str = '';
                            for (var i = 0; i < res.length; i++) {
                                str += '<tr data-id="' + res[i].contractid + '">' +
                                    '<td>' + res[i].contractid+ '</td>' +
                                    '<td class="filename" >' + res[i].contractcontentname+ '</td>' +
                                    '<td class="btn-group">' +
                                    '<a href="#" class="btn view">查看</a>' +
                                    '<a href="#" class="btn delete">删除</a>' +
                                    '<a href="#" class="btn download">下载</a>' +
                                    '</td>' +
                                    '</tr>';
                            }
                            $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的信息
                        } else {
                            $('.table-striped tbody').html('暂无数据'); // 若未获取到任何信息，则在表格中显示暂无数据的提示
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败后的逻辑
                        console.error(errorThrown);
                    }
                });
                $('.table-striped').on('click', '.delete', function() {
                    var tr = $(this).closest('tr');
                    var id = tr.data('id'); // 获取 ID

                    if (confirm('确认要删除该合同文件吗？')) {
                        // 发送 AJAX 请求删除
                        $.ajax({
                            type: 'POST',
                            url: '/contract/delectbyid',
                            data: {
                                contractid: id,
                                token: token
                            },
                            success: function(res) {
                                // 处理成功请求后的逻辑
                                console.log('删除成功！');
                                tr.remove(); // 在表格中将已删除的从 DOM 中移除
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                // 处理请求失败后的逻辑
                                console.error(errorThrown);
                            }
                        });
                    }
                });
                $('.table-striped').on('click', '.download', function() {
                    var tr = $(this).closest('tr');
                    var id = tr.data('id'); // 获取 ID
                    var name = tr.find('.filename').text(); // 获取文件名

                    $.ajax({
                        type: 'POST',
                        url: '/contract/getContractContent',
                        data: {
                            id: id,
                            token: token
                        },
                        responseType: 'arraybuffer', // 设置响应类型为二进制数据流
                        success: function (result) {
                            var contentType = '';
                            var contentDisposition = '';
                            if (result && result.byteLength > 0) {
                                // 解析响应头信息，获取Content-Type和Content-Disposition等字段
                                var headers = new Headers();
                                headers.set('Content-Type', 'application/octet-stream');
                                var blob = new Blob([result], {type: 'application/octet-stream'});
                                var response = new Response(blob, {headers});
                                contentType = response.headers.get('Content-Type');
                                contentDisposition = response.headers.get('Content-Disposition');
                            }
                            var fileName = name;
                            if (contentDisposition) {
                                var match = /filename\*?=(.*)/ig.exec(contentDisposition);
                                if (match != null && match[1]) {
                                    fileName = decodeURIComponent(match[1].trim());
                                }
                            }

                            // 创建并点击一个下载链接，让浏览器自动下载文件
                            var blob = new Blob([result], {type: contentType});
                            var link = document.createElement("a");
                            link.href = window.URL.createObjectURL(blob);
                            link.download = fileName;
                            link.click();
                        },
                        error: function (xhr, status, error) {
                            alert("下载合同文件失败：" + xhr.responseText);
                        }
                    });
                });


            </script>
        </div>
    </div>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>