<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss3.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/topersonalinformation}">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>合同管理</h5>

            <h5>上传合同</h5>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" name="file" id="fileInput"/>
                <button type="submit">上传文件</button>
            </form>
            <div id="result"></div>
            <h5>合同列表</h5>
            <table class="table-striped">
                <thead>
                <tr>
                    <th>合同id</th>
                    <th>合同名称</th>
                    <th>合同链接</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="contract-list">
                <!-- 这里将会自动插入数据行 -->
                </tbody>
            </table>

            <!-- jQuery和合同管理脚本 -->
            <script src="/js/jquery-3.6.4.js"></script>
            <script>
                $("#uploadForm").on("submit", function(e) {
                    e.preventDefault();
                    var formData = new FormData($(this)[0]);
                    $.ajax({
                        url: "/contract/upload",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(data) {
                            alert(data); // 显示上传结果
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            alert("合同文件上传失败：" + jqXHR.responseText);
                        }
                    });
                });
                $.ajax({
                    type: 'post',
                    url: '/contract/selectall',
                    data: {},
                    success: function(res) {
                        // 处理成功请求后的逻辑
                        if (res && res.length > 0) {
                            var str = '';
                            for (var i = 0; i < res.length; i++) {
                                str += '<tr data-id="' + res[i].contractid + '">' +
                                    '<td>' + res[i].contractid+ '</td>' +
                                    '<td class="filename" >' + res[i].contractcontentname+ '</td>' +
                                    '<td class="filename" >' + res[i].contractcontent+ '</td>' +
                                    '<td class="btn-group">' +
                                    '<a href="#" class="btn delete">删除</a>' +
                                    '<a href="' + res[i].contractcontent + '" class="btn download">下载</a>' +
                                    '</td>' +
                                    '</tr>';
                            }
                            $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的信息
                        } else {
                            $('.table-striped tbody').html('暂无数据'); // 若未获取到任何信息，则在表格中显示暂无数据的提示
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败后的逻辑
                        console.error(errorThrown);
                    }
                });
                $('.table-striped').on('click', '.delete', function() {
                    var tr = $(this).closest('tr');
                    var id = tr.data('id'); // 获取 ID

                    if (confirm('确认要删除该合同文件吗？')) {
                        // 发送 AJAX 请求删除
                        $.ajax({
                            type: 'POST',
                            url: '/contract/delectbyid',
                            data: {
                                contractid:id
                            },
                            success: function(res) {
                                // 处理成功请求后的逻辑
                                console.log('删除成功！');
                                tr.remove(); // 在表格中将已删除的从 DOM 中移除
                            },
                            error: function(jqXHR, textStatus, errorThrown) {
                                // 处理请求失败后的逻辑
                                console.error(errorThrown);
                            }
                        });
                    }
                });
            </script>
        </div>
    </div>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>