<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>用户登录界面</h1>
<br>
<form id="form" th:action="@{/user/login}" method="post">
    <table>
        <tr>
            <td>用户名</td>
            <td><input id="username" name="name" value="" /></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input id="password" name="password" /></td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>