<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.4.js"></script>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/User/topersonalinformation}" onclick="addTokenToHeader()">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>客户意见管理</h5>
            <div class="customer-list">
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>客户ID</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>反馈</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 这里需要使用服务器动态生成客户列表 -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <form id="edit-form" th:action="@{/client/updatebyid(token=${#httpServletRequest.getParameter('token')})}" method="post">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                        <h4 class="modal-title" id="edit-modal-label">修改</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 表单数据项 -->
                        <table>
                            <tr>
                                <td>客户ID</td>
                                <td><input id="id" name="clientid" value="" readonly="true"/></td>
                            </tr>
                            <tr>
                                <td>姓名</td>
                                <td><input id="name" name="clientname" value="" /></td>
                            </tr>
                            <tr>
                                <td>电话</td>
                                <td><input id="phone" name="phone" /></td>
                            </tr>
                            <tr>
                                <td>反馈</td>
                                <td><input id="feedback" name="feedback" value="" /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right"><input type="submit" value="提交"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var client = [];
        // 发送 AJAX 请求时添加 Token 到 URL 中
        var token = new URLSearchParams(window.location.search).get("token");
        $.ajax({
            type: 'post',
            url: '/client/getclientall?token=' + token,
            data: {},
            success: function(res) {
                // 处理成功请求后的逻辑
                client = [];
                if (res && res.length > 0) {
                    var str = '';
                    for (var i = 0; i < res.length; i++) {
                        client.push(res[i]);
                        console.log(res[i])
                        str += '<tr data-id="' + res[i].clientid + '">' +
                            '<td>' + res[i].clientid+ '</td>' +
                            '<td>' + res[i].clientname + '</td>' +
                            '<td>' + res[i].phone + '</td>' +
                            '<td>' + res[i].feedback + '</td>' +
                            '<td class="btn-group">' +
                            '<a href="#" class="btn update">修改</a>' +
                            '</td>' +
                            '</tr>';
                    }
                    $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的
                } else {
                    $('.table-striped tbody').html('暂无数据'); // 若未获取到任何信息，则在表格中显示暂无数据的提示
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // 处理请求失败后的逻辑
                console.error(errorThrown);
            }
        });
        //修改
        $('.table-striped').on('click', '.update', function() {
            var tr = $(this).closest('tr');
            var id = tr.data('id');
            console.log(id);

            var clients =client.find(function(e) {
                return e.clientid == id;
            });

            if (clients) {
                // 将记录的详细信息填充到模态框中
                $('#id').val(clients.clientid);
                $('#name').val(clients.clientname);
                $('#phone').val(clients.phone);
                $('#feedback').val(clients.feedback);
                // 弹出模态框
                $('#edit-modal').modal('show');
            }
        });
    </script>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>