<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss2.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/js/jquery-3.6.4.js">
    </script><script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/User/topersonalinformation}" onclick="addTokenToHeader()">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>施工进度管理</h5>
            <!-- 查询表单 -->
            <form id="search-form">
                <label for="search-input">查询施工项目ID:</label>
                <input type="text" id="search-input" name="search-input">
                <input type="button" value="查询" id="search-btn">
            </form>
            <div th:replace="~{process::table1}" ></div>
            <table class="table-striped" id="table-striped" style="display: none">
                <thead>
                <tr>
                    <th>进度ID</th>
                    <th>流程ID</th>
                    <th>计划工期</th>
                    <th>实际工期</th>
                    <th>落后原因</th>
                    <th>人员分配</th>
                    <th>解决方案</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <!-- 新增信息的模态框 -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="add-form" th:action="@{/scheduled/add(token=${#httpServletRequest.getParameter('token')})}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增信息</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <div class="form-group">
                                    <label for="sid-input" class="control-label">进度ID:</label>
                                    <input type="text" class="form-control" id="sid-input" name="scheduleid" placeholder="请输入进度ID">
                                </div>
                                <div class="form-group">
                                    <label for="fid-input" class="control-label">流程ID:</label>
                                    <input type="text" class="form-control" id="fid-input" name="flowid" placeholder="请输入流程ID">
                                </div>
                                <div class="form-group">
                                    <label for="sctime-input" class="control-label">计划工期:</label>
                                    <input type="text" class="form-control" id="sctime-input" name="timescaleplan" placeholder="请输入yyyy-MM-dd">
                                </div>
                                <div class="form-group">
                                    <label for="prac-input" class="control-label">实际工期:</label>
                                    <input type="text" class="form-control" id="prac-input" name="practicalscale" placeholder="请输入yyyy-MM-dd">
                                </div>
                                <div class="form-group">
                                    <label for="cause-input" class="control-label">落后原因:</label>
                                    <input type="text" class="form-control" id="cause-input" name="cause" placeholder="请输入落后原因">
                                </div>
                                <div class="form-group">
                                    <label for="staf-input" class="control-label">人员分配:</label>
                                    <input type="text" class="form-control" id="staf-input" name="staffallocation" placeholder="请输入人员分配:">
                                </div>
                                <div class="form-group">
                                    <label for="solut-input" class="control-label">解决方案:</label>
                                    <input type="text" class="form-control" id="solut-input" name="solution" placeholder="请输入解决方案">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">保存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="edit-form" th:action="@{/scheduled/update(token=${#httpServletRequest.getParameter('token')})}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="edit-modal-label">修改信息</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <table>
                                <tr>
                                    <td>进度ID:</td>
                                    <td><input id="edit-input" name="scheduleid" readonly="readonly" value=""></td>
                                </tr>
                                <tr>
                                    <td>流程ID:</td>
                                    <td><input id="edit1-input" name="flowid" readonly="readonly" value=""></td>
                                </tr>
                                <tr>
                                    <td>计划工期:</td>
                                    <td><input id="editsctime-input" name="timescaleplan" value=""></td>
                                </tr>
                                <tr>
                                    <td>实际工期:</td>
                                    <td><input id="editprac-input" name="practicalscale" value=""></td>
                                </tr>
                                <tr>
                                    <td>落后原因:</td>
                                    <td><input id="editcause-input" name="cause" value=""></td>
                                </tr>
                                <tr>
                                    <td>人员分配:</td>
                                    <td><input id="editstaf-input" name="staffallocation" value=""></td>
                                </tr>
                                <tr>
                                    <td>解决方案:</td>
                                    <td><input id="editsolut-input" name="solution" value=""></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td align="right"><input type="submit" value="提交"></td>
                                </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <button id="add-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal" style="display: none">添加记录</button>
        </div>
    </div>

    <div th:replace="~{process::js}" ></div>
    <script>
        $('.Table').on('click', '.selectbypid', function() {
            var tr = $(this).closest('tr');
            var id = tr.data('id');
            console.log(id);
        var schedule = [];
        // 发送 AJAX 请求时添加 Token 到 URL 中
        var token = new URLSearchParams(window.location.search).get("token");
        //查询
        $.ajax({
            type: 'post',
            url: '/scheduled/getscheduleall?token=' + token,
            data: {id},
            success: function(res) {
                // 处理成功请求后的逻辑
                $('#Table').hide();
                $('#table-striped').show();
                $('#add-btn').show();
                schedule = [];

                if (res && res.length > 0) {
                    var str = '';

                    for (var i = 0; i < res.length; i++) {
                        schedule.push(res[i]);
                        console.log(res[i])
                        str += '<tr data-id="' + res[i].scheduleid + '">' +
                            '<td>' + res[i].scheduleid+ '</td>' +
                            '<td>' + res[i].flowid+ '</td>' +
                            '<td>' + res[i].timescaleplan + '</td>' +
                            '<td>' + res[i].practicalscale + '</td>' +
                            '<td>' + res[i].cause + '</td>' +
                            '<td>' + res[i].staffallocation + '</td>' +
                            '<td>' + res[i].solution + '</td>' +
                            '<td class="btn-group">' +
                            '<a href="#" class="btn update">编辑</a>' +
                            '<a href="#" class="btn delete">删除</a>' +
                            '</td>' +
                            '</tr>';
                    }
                    $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的员工信息
                } else {
                    $('.table-striped tbody').html('暂无数据'); // 若未获取到任何员工信息，则在表格中显示暂无数据的提示
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // 处理请求失败后的逻辑
                console.error(errorThrown);
            }
        });
        //修改
            $('.table-striped').on('click', '.update', function() {
                var tr = $(this).closest('tr');
                var id = tr.data('id');
                console.log(id);

                var schedules = schedule.find(function(e) {
                    return e.scheduleid == id;
                });

                if (schedules) {
                    // 将记录的详细信息填充到模态框中
                    $('#edit-input').val(schedules.scheduleid);
                    $('#edit1-input').val(schedules.flowid);
                    $('#editsctime-input').val(schedules.timescaleplan);
                    $('#editprac-input').val(schedules.practicalscale);
                    $('#editcause-input').val(schedules.cause);
                    $('#editstaf-input').val(schedules.staffallocation);
                    $("#editsolut-input").val(schedules.solution);
                    // 弹出模态框
                    $('#edit-modal').modal('show');
                }
            });
        });
        //删除
        $('.table-striped').on('click', '.delete', function() {
            var tr = $(this).closest('tr'); // 获取所选行元素
            var id = tr.data('id'); // 获取 ID

            if (confirm('确认要删除该信息吗？')) {
                // 发送 AJAX 请求删除员工记录
                $.ajax({
                    type: 'POST',
                    url: '/scheduled/delectbyid',
                    data: {
                        scheduleid: id,
                        token: token
                    },
                    success: function(res) {
                        // 处理成功请求后的逻辑
                        console.log('删除成功！');
                        tr.remove(); // 在表格中将已删除的员工记录从 DOM 中移除
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败后的逻辑
                        console.error(errorThrown);
                    }
                });
            }
        });
    </script>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>