<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss4.css">
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/topersonalinformation}">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>施工流程管理</h5>
            <table class="Table" id="Table" th:fragment="table1">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>项目名称</th>
                    <th>项目花费</th>
                    <th>负责人</th>
                    <th>施工人员</th>
                    <th>设计方案id</th>
                    <th>验收结果</th>
                    <th>查看流程</th>
                </tr>
                </thead>
                <tbody>
                <!-- 施工项目数据行 -->
                </tbody>
            </table>

            <div class="construction-process">
                <h5>施工环节</h5>
                <table class="table-striped" id="table-striped" style="display: none">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>描述</th>
                        <th>装修内容</th>
                        <th>施工人员</th>
                        <th>项目杂费</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">新增施工环节</button>
                </table>
            </div>
            <div>
            </div>
            <!-- 添加对话框 -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="add-form" th:action="@{/User/insert(token=${#httpServletRequest.getParameter('token')})}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <table>
                                    <tr>
                                        <td>用户名</td>
                                        <td><input id="username" name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>密码</td>
                                        <td><input id="password" name="password" /></td>
                                    </tr>

                                    <tr>
                                        <td>权限等级</td>
                                        <td><input id="role" name="role" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>职位</td>
                                        <td><input id="job" name="job" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>工资</td>
                                        <td><input id="salary" name="salary" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right"><input type="submit" value="提交"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script th:fragment="js">
        var project = [];
        // 发送 AJAX 请求时添加 Token 到 URL 中
        var token = new URLSearchParams(window.location.search).get("token");
        $.ajax({
            type: 'post',
            url: '/project/getprojectall?token=' + token,
            data: {},
            success: function(res) {
                // 处理成功请求后的逻辑
                project = [];
                if (res && res.length > 0) {
                    var str = '';
                    for (var i = 0; i < res.length; i++) {
                        project.push(res[i]);
                        console.log(res[i])
                        str += '<tr data-id="' + res[i].projectid + '">' +
                            '<td>' + res[i].projectid+ '</td>' +
                            '<td>' + res[i].projectname + '</td>' +
                            '<td>' + res[i].projectcast + '</td>' +
                            '<td>' + res[i].principal + '</td>' +
                            '<td>' + res[i].buiders + '</td>' +
                            '<td>' + res[i].designplanid + '</td>' +
                            '<td>' + res[i].acresult + '</td>' +
                            '<td class="btn-group">' +
                            '<a href="#" class="btn selectbypid">查看</a>' +
                            '</td>' +
                            '</tr>';
                    }
                    $('.Table tbody').html(str); // 将表格内容替换为从后端获取的员工信息
                } else {
                    $('.Table tbody').html('暂无数据'); // 若未获取到任何员工信息，则在表格中显示暂无数据的提示
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // 处理请求失败后的逻辑
                console.error(errorThrown);
            }
        });
        </script>
        <script>
        $('.Table').on('click', '.selectbypid', function() {
            var tr = $(this).closest('tr');
            var id = tr.data('id');
            console.log(id);
            var flow = [];
            $.ajax({
                type: 'post',
                url: '/flow/getflowall?token=' + token,
                data: {id},
                success: function(res) {
                    $('#Table').hide();
                    $('#table-striped').show();
                    // 处理成功请求后的逻辑
                    flow = [];
                    if (res && res.length > 0) {
                        var str = '';
                        for (var i = 0; i < res.length; i++) {
                            flow.push(res[i]);
                            console.log(res[i])
                            str += '<tr data-id="' + res[i].flowid + '">' +
                                '<td>' + res[i].flowid+ '</td>' +
                                '<td>' + res[i].flowname + '</td>' +
                                '<td>' + res[i].describe + '</td>' +
                                '<td>' + res[i].cstrinfo + '</td>' +
                                '<td>' + res[i].builders + '</td>' +
                                '<td>' + res[i].projectcast + '</td>' +
                                '<td class="btn-group">' +
                                '<a href="#" class="btn update">编辑</a>' +
                                '<a href="#" class="btn delete">删除</a>' +
                                '</td>' +
                                '</tr>';
                        }
                        $('.table-striped tbody').html(str); // 将表格内容替换为从后端获取的员工信息
                    } else {
                        $('.table-striped tbody').html('暂无数据'); // 若未获取到任何员工信息，则在表格中显示暂无数据的提示
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // 处理请求失败后的逻辑
                    console.error(errorThrown);
                }
            });
        });
    </script>
    </div>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>
