<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss2.css">
    <script src="/js/jquery-3.6.4.js"></script>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/topersonalinformation}">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
        <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1" id="">
            <h5>工资管理</h5>
            <header>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">新增</button>
                </div>
                <form action="#" method="get">
                    <input type="text" name="search" placeholder="搜索">
                    <button type="submit">搜索</button>
                </form>
            </header>
            <main>
                <table>
                    <thead>
                    <tr>
                        <th>月份</th>
                        <th>已发工资</th>
                        <th>欠发工资</th>
                    </tr>
                    <tr>
                        <th>2023-7</th>
                        <th>100000</th>
                        <th>20000</th>
                        <td class="btn-group">
                            <a href="#" class="btn delete">删除</a>
                            <a href="#" class="btn update">修改</a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 工资信息表格内容 -->
                    </tbody>
                </table>
            </main>
            <!-- 添加工资信息表单 -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="add-form">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增/编辑材料信息</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <table>
                                    <tr>
                                        <td>月份</td>
                                        <td><input id="username" name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>已发工资</td>
                                        <td><input id="password" name="password" /></td>
                                    </tr>

                                    <tr>
                                        <td>欠发工资</td>
                                        <td><input id="role" name="role" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right"><input type="submit" value="提交"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>