<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/css/mycss.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/mycss2.css">
    <script src="/js/jquery-3.6.4.js"></script>
</head>
<body>
<div class="container">
    <!-- header -->
    <div class="area row">
        <div class="col-md-12 nav">
            <ul>
                <li><a th:href="@{/User/topersonalinformation}" onclick="addTokenToHeader()">个人信息</a></li>
                <li class="right"><a href="#">退出</a></li>
            </ul>
        </div>
    </div>
    <!-- main  -->
    <div class="area row">
            <!-- sidebar -->
        <div th:include="sidebar"></div>
        <!-- article -->
        <div class="area grow-1">
            <h5>员工信息</h5>
            <header>
                <div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">新增</button>
                </div>
                <form action="#" method="get">
                    <input type="text" name="search" placeholder="搜索">
                    <button type="submit">搜索</button>
                </form>
            </header>
            <main>
                <table class="employee-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <td>姓名</td>
                        <td>性别</td>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 此处用 JavaScript 渲染表格 -->
                    </tbody>
                </table>
            </main>
            <!-- 新增员工记录的模态框 -->
            <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="add-form" th:action="@{/User/insert(token=${#httpServletRequest.getParameter('token')})}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">新增</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <table>
                                    <tr>
                                        <td>用户名</td>
                                        <td><input id="username" name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>密码</td>
                                        <td><input id="password" name="password" /></td>
                                    </tr>

                                    <tr>
                                        <td>权限等级</td>
                                        <td><input id="role" name="role" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>职位</td>
                                        <td><input id="job" name="job" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>工资</td>
                                        <td><input id="salary" name="salary" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right"><input type="submit" value="提交"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 修改员工记录的模态框 -->
            <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <form id="edit-form" th:action="@{/User/updatebyid(token=${#httpServletRequest.getParameter('token')})}" method="post">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                                <h4 class="modal-title" id="edit-modal-label">修改</h4>
                            </div>
                            <div class="modal-body">
                                <!-- 表单数据项 -->
                                <table>
                                    <tr>
                                        <td>用户ID</td>
                                        <td><input id="employee-id" name="userid" value="" readonly="true"/></td>
                                    </tr>
                                    <tr>
                                        <td>用户名</td>
                                        <td><input id="employee-name" name="name" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>密码</td>
                                        <td><input id="employee-password" name="password" /></td>
                                    </tr>
                                    <tr>
                                        <td>权限等级</td>
                                        <td><input id="employee-role" name="role" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>职位</td>
                                        <td><input id="employee-job" name="job" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td>工资</td>
                                        <td><input id="employee-salary" name="salary" value="" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right"><input type="submit" value="提交"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        var employees = [];
        // 发送 AJAX 请求时添加 Token 到 URL 中
        var token = new URLSearchParams(window.location.search).get("token");
        //加载页面
        $.ajax({
            type: 'GET',
            url: '/User/getalluser?token=' + token,
            data: {},
            success: function(res) {
                // 处理成功请求后的逻辑
                employees = [];

                if (res && res.length > 0) {
                    var str = '';

                    for (var i = 0; i < res.length; i++) {
                        employees.push(res[i]);console.log(typeof res[i].userid);
                        str += '<tr data-id="' + parseInt(res[i].userid) + '">' +
                            '<td>' + res[i].userid + '</td>' +
                            '<td>' + res[i].name + '</td>' +
                            '<td>' + (res[i].sex == '1' ? '男' : '女') + '</td>' +
                            '<td class="btn-group">' +
                            '<a href="#" class="btn delete">删除</a>' +
                            '<a href="#" class="btn update">修改</a>' +
                            '</td>' +
                            '</tr>';
                    }
                    $('.employee-table tbody').html(str);
                } else {
                    $('.employee-table tbody').html('暂无数据');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                // 处理请求失败后的逻辑
                console.error(errorThrown);
            }
        });
        //修改
        $('.employee-table').on('click', '.update', function() {
            var tr = $(this).closest('tr'); // 获取所选员工记录的行元素
            var id = tr.data('id'); // 获取员工记录的 ID
            console.log(id);

            // 查找对应 ID 的员工记录
            var employee = employees.find(function(e) {
                return e.userid == id;
            });

            if (employee) {
                // 将员工记录的详细信息填充到模态框中
                $('#employee-id').val(employee.userid);
                $('#employee-name').val(employee.name);
                $('#employee-password').val(employee.password);
                $('#employee-role').val(employee.role);
                $('#employee-job').val(employee.job);
                $('#employee-salary').val(employee.salary);

                // 弹出模态框以供用户修改员工记录
                $('#edit-modal').modal('show');
            }
        });

        //删除
        $('.employee-table').on('click', '.delete', function() {
            var tr = $(this).closest('tr'); // 获取所选员工记录的行元素
            var id = tr.data('id'); // 获取员工记录的 ID

            if (confirm('确认要删除该员工吗？')) {
                // 发送 AJAX 请求删除员工记录
                $.ajax({
                    type: 'POST',
                    url: '/User/delectbyid',
                    data: {
                        userid: id,
                        token: token
                    },
                    success: function(res) {
                        // 处理成功请求后的逻辑
                        console.log('删除成功！');
                        tr.remove(); // 在表格中将已删除的员工记录从 DOM 中移除
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        // 处理请求失败后的逻辑
                        console.error(errorThrown);
                    }
                });
            }
        });

    </script>
    <!-- footer -->
    <div class="area footer row">
        <div class="col-md-12">
            <p>东北林业大学<br>
                软件工程专业</p>
        </div>
    </div>
</div>
</body>
</html>